/* Importações */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap');

/* Variáveis */
:root {
    /* Fontes */
    --young: "young serif", sans-serif;
    --outfit: "outfit", sans-serif;

    /* Cores */
    /* Rose */
    --rose-50: #FFF7FB;
    --rose-800: #7A284E;

    /* Stone */
    --stone-100: #F3E5D7;
    --stone-150: #E3DDD7;
    --stone-600: #5F564D;
    --stone-900: #312E2C;

    /* Brown */
    --brown-800: #854632;

    /* White */
    --white: #FFFFFF;
}

/* Corpo da Página */
body {
    background-color: var(--stone-100);
    margin: 4% auto;
    display: flex;
    justify-content: center;
}

/* Corpo da Receita */
.conteudo {
    background-color: var(--white);
    width: 736px;
    height: 1700px;
    border-radius: 24px;
}

/* Imagem */
.conteudo__img {
    width: 656px;
    margin: 40px;
    border-radius: 12px;
}

/* Apresentação */
.conteudo__apresentacao {
    padding: 0 40px 32px 40px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.apresentacao__titulo {
    font-family: var(--young);
    font-size: 40px;
    font-weight: 400;
    color: var(--stone-900);
}

.apresentacao__texto {
    font-family: var(--outfit);
    font-size: 16px;
    color: var(--stone-600);
}

/* Preparação */
.conteudo__preparacao {
    width: 656px;
    height: 172px;
    margin: 32px 40px;
    background-color: var(--rose-50);
    display: flex;
    flex-direction: column;
    gap: 16px;
    font-family: var(--outfit);
    border-radius: 12px;
}

.preparacao__titulo {
    font-family: var(--outfit);
    font-size: 20px;
    font-weight: 600;
    color: var(--rose-800);
    padding-left: 24px;
    padding-top: 24px;
}

.preparacao__lista {
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    color: var(--stone-600);
}

.lista__item {
    display: flex;
    gap: 36px;
    align-items: center;
    margin-bottom: 4px;
    height: 24px;
}

.item__ponto {
    width: 4px;
    height: 4px;
    align-items: center;
}

.lista__destaque {
    font-weight: 600;
}

/* Ingredientes */
.conteudo__ingredientes {
    width: 656px;
    height: 204px;
    padding: 0 40px;
    margin-bottom: 32px;
}

.ingredientes__titulo {
    font-family: var(--young);
    font-size: 28px;
    font-weight: 400;
    color: var(--brown-800);
    margin-bottom: 24px;
}

.lista__item {
    font-family: var(--outfit);
    font-size: 16px;
    color: var(--stone-600);
}

/* Linha */
hr {
    color: var(--stone-150);
    width: 656px;
}

/* Intruções */
.conteudo__instrucoes {
    width: 656px;
    padding: 0px 40px;
    margin: 32px 0;
    font-size: 16px;
}

.instrucoes__titulo {
    font-family: var(--young);
    font-size: 28px;
    color: var(--brown-800);
    margin-bottom: 24px;
}

.lista__numero {
    font-family: var(--outfit);
    font-size: 16px;
    color: var(--stone-600);
    margin-bottom: 16px;
    display: flex;
    gap: 32px;
}

.item__numero {
    height: 13px;
}

/* Nutrição */
.conteudo__nutricao {
    width: 656px;
    margin: 32px 40px 40px 40px;
    font-family: var(--outfit);
    font-size: 16px;
    font-weight: 400;
    color: var(--stone-600);
}

.nutricao__titulo {
    font-family: var(--young);
    font-size: 28px;
    color: var(--brown-800);
    margin-bottom: 32px;
}

.nutricao__texto {
    margin-bottom: 32px;
    font-weight: 400;
}

.tabela__calorias {
    display: flex;
    padding-left: 32px;
    gap: 8px;
    height: 30px;
}

.calorias__texto {
    width: 288px;
}

.calorias__numero {
    color: var(--brown-800);
    font-weight: 700;
}

/* Responsividade */
/* Tablet */

@media (max-width: 768px) {
    /* Corpo da Receita */
    .conteudo {
        width: 616px;
        height: 1760px;
    }

    /* Imagem */
    .conteudo__img {
        width: 536px;
        margin: 40px;
        border-radius: 12px;
    }

    /* Preparação */
    .conteudo__preparacao {
        width: 536px;
    }

    hr {
        width: 536px;
    }

    .conteudo__instrucoes {
        width: 536px;
    }

    .conteudo__nutricao {
        width: 536px;
    }

    .lista__item {
        gap: 16px;
    }

    .lista__numero {
        gap: 16px;
    }
}